<%- include('./partials/head')%>
<%- include('./partials/header')%>
<div class="container">
  <div class="edit">
    <a href="/items/edit/<%=item.id%>">edit</a>
    <a href="delete">delete</a>
  </div>
  <div class="row">
        <div class="col-md-2">
          <img src="https://image.flaticon.com/icons/svg/134/134349.svg"  width="150" height="150">

        </div>
        <div class="col-md-3">
          nama barang :<%=item.nama%> <br>
          harga       :<%=item.harga%> <br>
        </div>
        
        <div class="col-md-7">
          <a href="/transaksi/<%=item.id%>"><button type="button" class="btn btn-primary" name="button">Beli</button></a>
        </div>
  </div>
</div>

<%- include('./partials/footer')%>
