<%- include('./partials/head')%>
<div class="container">
  <div class="edit">
    <a href="edit-profile">edit profile</a>
  </div>
  <div class="row">
        <div class="col col-md-2">
          <img src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg"  width="150" height="150">
        </div>
        <div class="col col-md-3">
          ceritanya id profile  :<%= %> <br>
          ceritanya id pembeli  :<%= %> <br>
          ceritanya nama        :<%= %> <br>
          ceritanya alamat      :<%= %> <br>
          ceritanya no.telp     :<%= %> <br>
          ceritanya gender      :<%= %> <br>
        </div>
  </div>
</div>

<%- include('./partials/footer')%>
